@using Journal.Pages;

@inherits LayoutComponentBase

<PageTitle>Journal</PageTitle>

<div class="page">
    <div class="sidebar">
        <Sidebar />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div class="background">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
@code {

}