@page "/"

<PageTitle>Index</PageTitle>

<h1 class="mt-3 mb-3">Willkommen bei meinem Trainingsjournal-Prototypen!</h1>

<div class="container flex-column">

    <p class="w-50">
        Diese kleine Blazor-Server-App wird von mir weiterentwickelt, damit ich in Zukunft
        online meine Trainingseinheiten eintragen kann. Dies würde natürlich auch mit einer
        bereits bestehenden App funktionieren, allerdings sehe ich das als Projekt um meine
        Fähigkeiten in der Webentwicklung zu verbessern.
    </p>

    <p class="w-50">
        Auch wenn es derzeit nur ein Speichern und Abrufen von Daten beinhaltet, ist alles
        vom Design bis hin zur Logik selbstgemacht (bis auf die Combobox und Bootstrap Klassen).
        Diese App ist in ungefähr 12 Stunden Arbeit entstanden, da ich leider in den letzten 2
        Wochen privat nicht mehr Zeit aufbringen konnte. Ich hoffe dennoch, dass es Ihnen gefällt.
    </p>

    <p class="w-50">
        Das Login und die Registrierung funktionieren ebenfalls, allerdings habe ich es in der
        kurzen Zeit nicht geschafft, dass man immer zuerst die Loginpage sieht und sich einloggen
        muss, um den Inhalt der App zu sehen. Zukünftig wird dies noch kommen.
    </p>
    
    <p class="w-50">
        Ich wünsche viel Spaß beim Ausprobieren!
    </p>
</div>
